name: CI-CD Docker Deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      run: |
         docker build --no-cache \
      -t nimadockerhub05/transaction-backend:latest \
      ./project-03-dockerized-app/backend
    - name: Push Docker image
      run: |
        docker push nimadockerhub05/transaction-backend:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull nimadockerhub05/transaction-backend:latest
          docker stop transaction-backend || true
          docker rm transaction-backend || true
          docker run -d \
            --name transaction-backend \
            -p 3000:3000 \
            --env-file /home/ubuntu/.env \
            nimadockerhub05/transaction-backend:latest
